In [1]:
import pandas as pd
import numpy as np

In [2]:
boxes = pd.read_csv("boxes.csv")

In [ ]:
boxes.describe()

In [ ]:
boxes['angle']=0

In [ ]:
boxes["ratio"] = boxes["width"] / boxes["height"]

In [ ]:
boxes["45ratio"] = boxes["45width"] / boxes["45height"]

In [ ]:
boxes.loc[boxes["ratio"]<boxes["ratio"].quantile(3/4)]= 90

In [ ]:
boxes.loc[boxes["45ratio"]<boxes["45ratio"].quantile(3/4)]= 90

In [3]:
import matplotlib.pyplot as plt
import math

In [4]:
boxes

,Unnamed: 0,class_index,center_x,center_y,width,height,45width,45height
0,0,0.0,416.0,867.0,84.0,82.0,49.540179,55.017103
1,1,0.0,1572.5,470.0,75.0,38.0,62.891378,30.023671
2,2,0.0,799.5,896.5,97.0,83.0,60.522702,61.246705
3,3,0.0,500.5,867.5,93.0,89.0,55.366312,54.743722
4,4,0.0,382.0,75.0,42.0,60.0,32.632710,37.692248
...,...,...,...,...,...,...,...,...
162,162,0.0,1786.0,60.0,56.0,34.0,NaN,NaN
163,163,0.0,1711.0,66.0,36.0,38.0,NaN,NaN
164,164,0.0,1906.0,371.0,24.0,36.0,NaN,NaN
165,165,0.0,1748.0,69.5,34.0,37.0,NaN,NaN
166,166,0.0,78.5,813.5,57.0,71.0,NaN,NaN

In [ ]:
rotation_matrix = np.array([[math.cos(angle), -math.sin(angle)],
                            [math.sin(angle), math.cos(angle)]])

In [ ]:
def angle_